# Ignore everything
*.*

# Except for these

!.gitattributes
!.gitignore
!readme.md
!**.tex
!**.bib
!**.png
!**.jpg
!**.jpeg
!**.gif
!**.tiff
!**.tex
!**.bib
!**.pdf

_run.tex
**/boxes/**
**/pictures/**
